* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}


body {
  overflow-x: hidden;
  font-family: 'Archivo', sans-serif;
  color: #5f5f5f;
  background-color: #121212;

}

.navbar {
  background: #121212;
  padding: auto 45px 0px;
  cursor: pointer;
  /* cursor: zoom-in; */
  cursor: grabbing;
  justify-content: space-around;
}

.inactive {
  margin-left: 3rem;
}

.active {
  margin-left: 3rem;
}

a.aforhover {
  position: relative;
  text-decoration: none;
  padding: 5px;


}

a.aforhover:after {
  content: "";
  position: absolute;
  background-color: #a5b0ae;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -5px;
  transition: 0.25s;
}

a.aforhover:hover:after {
  width: 100%;
}

a:hover {
  color: rgb(255, 255, 255);
  font-weight: 500;
}

.hr1 {
  width: 88.5%;
  height: 2px;
  background-color: #737373;
  margin: auto;

}

.navbar-brand img {
  height: 2.4rem;
}

.video-background {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-size: auto;
}

.herosection {
  padding: 45px 75px 45px 75px;
  height: 100vh;
  width: 100%;
}

.caption {
  position: absolute;
  top: 37%;
  width: 100%;
  color: aliceblue;
  text-align: center;
  /* backface-visibility: visible; */
}

.caption h1 {
  font-size: 6rem;
  font-weight: 700;
  letter-spacing: 15%;
  text-shadow: .1rem .1rem .8rem black;
  padding-bottom: 1rem;
  /* letter-spacing: 50%; */
}

.caption h3 {
  font-size: 2rem;
  text-shadow: .1rem .1rem .5rem black;
  padding-bottom: 1.6rem;
}

.subtitle {
  text-align: center;
  font-family: archivo;
  font-size: 1.37rem;
  /* font-optical-sizing: auto; */
  font-weight: 300;
  color: #b8b8b8;
  padding-bottom: 2rem;
}

.btn-lg {
  border-width: medium;
  border-radius: 0;
  font-size: 1.1rem;
  padding: 0.6rem 1.3rem;
}

.col-md-8 {
  margin: 2rem auto 8rem;
  padding-top: 2rem;
}

.col-md-8 h1 {
  font-size: 2.4rem;
}

.btn-secondary {
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 1rem;
  border-color: #1EBBA3;
  background-color: #1EBBA3;
  color: white;
}

.btn-secondary:hover,
.btn-secondary:focus {
  border-color: #189582;
  background-color: #189582;
  color: white;
}

@media (max-width: 768px) {
  .caption h1 {
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: .15rem;
    text-shadow: .1rem .1rem .8rem black;
    padding-bottom: .5rem;
  }

  @media(max-width: 768px) {
    .subtitle {
      font-size: 1rem;
    }
  }

  .caption h3 {
    font-size: 1.1rem;
    /* text-shadow: .1rem .1rem .5rem black; */
    padding-bottom: 1.2rem;
  }

  .btn-lg {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }

  .col-md-8 h1 {
    font-size: 1.7rem;
  }
}

.ABOUTCENTERING {
  text-align: center;
  color: rgb(224, 232, 232);

}

.aboveabout {

  color: rgb(224, 232, 232);
  padding-top: 1.2rem;
  padding-bottom: 1rem;
}

.hr2 {
  margin: auto;
  width: 18%;
  height: 1.2px;
  background-color: #737272;
  margin-bottom: 4rem;
}


.para {
  font-weight: 300;
  font-size: 2.6vh;
  /* text-align: center; */
  /* justify-content: center; */
}

.imgabout {
  width: 80%;
  padding-top: 1.3rem;
  padding-bottom: 1rem;
  text-align: center;
  justify-content: center;
  margin-left: 2.5rem;
}

.gallerysection {
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.bgforcar {
  background-color: #121212;
  text-align: center;
  width: fit-content;
  margin-bottom: 5rem;


}

.imageadjust {
  width: 70%;
  height: 50%;
}

.gallerysubtitle {

  text-align: center;
  font-family: archivo;
  font-size: 1.37rem;
  /* font-optical-sizing: auto; */
  font-weight: 300;
  color: #b8b8b8;
  padding-bottom: 2rem;

}


.loader {

  margin-left: 46%;
  margin-right: 40%;
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.loader:hover {
  background: #03e9f4;
  box-shadow: 0 0 5px #03e9f4,
    0 0 25px #03e9f4,
    0 0 50px #03e9f4,
    0 0 200px #03e9f4;

}

.loader span {
  position: absolute;
  display: block;
}

.loader span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 10%;
  height: 40%;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: animate1 1s linear infinite;
  animation-delay: 0s;

}

@keyframes animate1 {
  0% {
    left: -100%;
  }

  100% {
    left: 100%;
  }
}

.loader span:nth-child(3) {
  bottom: 0;
  left: -100%;
  width: 10%;
  height: 40%;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: animate3 1s linear infinite;
  animation-delay: 0s;

}

@keyframes animate3 {
  0% {
    left: 100%;
  }

  100% {
    left: -100%;
  }
}



.loader span:nth-child(2) {
  right: 0;
  top: -100%;
  width: 40px;
  height: 100%;
  background: linear-gradient(100deg, transparent, #03e9f4);
  animation: animate2 1s linear infinite;
  animation-delay: 0.5s;

}

@keyframes animate2 {
  0% {
    top: -100%;
  }

  100% {
    top: 100%;
  }
}



.loader span:nth-child(4) {
  left: 0;
  top: 100%;
  width: 40px;
  height: 100%;
  background: linear-gradient(0deg, transparent, #03e9f4);
  animation: animate4 1s linear infinite;
  animation-delay: 0.5s;

}

@keyframes animate4 {
  0% {
    top: 100%;
  }

  100% {
    top: -100%;
  }
}

.bottom-container {
  border: #686a6b solid;
  border-width: .1rem;
  background-color: #121212;
  padding-top: 2rem;

}


.bott {
  font-family: 'Poor Story', cursive;
  color: #92acac;
  font-size: 1rem;
  padding-top: 2%;
  text-align: center;
}

p.bott:hover {
  color: #c9c8c8;
}

/* From here onwards we can target the background images */
.homepage-featured-events {
  height: auto;
  padding: 40px 0 150px;
  background: url("Images/bg2.jpg") no-repeat center;
  background-size: cover !important;
  /* You can control the background gradient by the lower code */
  /* background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(28, 51, 13, 1) 35%, rgba(0, 212, 255, 1) 100%); */
}

.homepage-featured-events .event-content-wrap {
  position: relative;
  padding: 36px 18px;
}

.homepage-featured-events .event-content-wrap figure {
  margin: -36px -18px;
}

.homepage-featured-events .event-content-wrap figure img {
  display: block;
  width: 100%;
}

.homepage-featured-events .event-content-wrap .entry-header {
  position: absolute;
  left: 18px;
  bottom: 24px;
  z-index: 99;
}

.homepage-featured-events .event-content-wrap .entry-header .entry-title {
  display: inline-block;
  padding: 12px 18px;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  background: #43583b;
}

.homepage-featured-events .event-content-wrap .entry-header .posted-date {
  padding: 2px 18px;
  font-size: 14px;
  color: #fff;
}

.team-mail {
  margin-top: 7px;
}

.team-mail>a {
  color: #fff;
  text-transform: lowercase;
  font-size: 13.5px;
}

.team-mail>a:hover {
  text-decoration-line: none;
}

.featured-events-wrap {
  position: relative;
}

.featured-events-wrap .event-content-wrap:nth-last-of-type(1) {
  margin-bottom: 0;
}

.featured-events-wrap .event-content-wrap {
  width: 100%;
  margin-bottom: 30px;
}

@media screen and (max-width: 575px) {
  .featured-events-wrap .event-content-wrap.half {
    width: calc(50% - 15px);
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .featured-events-wrap .event-content-wrap {
    width: calc(50% - 15px);
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .featured-events-wrap .event-content-wrap {
    width: calc(50% - 15px);
  }

  .featured-events-wrap .event-content-wrap.half {
    width: calc(33.333333% - 15px);
  }
}

@media screen and (min-width: 992px) {
  .homepage-featured-events {
    min-height: 1000px;
  }

  .featured-events-wrap .event-content-wrap {
    position: absolute;
    top: 0;
    left: 0;
    margin-bottom: 0;
  }

  .homepage-featured-events .positioning-event-1 {
    width: 290px;
  }

  .homepage-featured-events .positioning-event-2 {
    width: 210px;
    top: 192px;
    left: 320px;
  }

  .homepage-featured-events .positioning-event-3 {
    width: 210px;
    top: 75px;
    left: 560px;
  }

  .homepage-featured-events .positioning-event-4 {
    width: 130px;
    top: 235px;
    left: 800px;
  }

  .homepage-featured-events .positioning-event-5 {
    width: 130px;
    top: 350px;
    left: 0;
  }

  .homepage-featured-events .positioning-event-6 {
    width: 130px;
    top: 333px;
    left: 560px;
  }

  .homepage-featured-events .positioning-event-7 {
    width: 210px;
    top: 457px;
    left: 160px;
  }

  .homepage-featured-events .positioning-event-8 {
    width: 290px;
    top: 460px;
    left: 400px;
  }

  .homepage-featured-events .positioning-event-9 {
    width: 210px;
    top: 395px;
    left: 720px;
  }


}



@media screen and (min-width: 1200px) {
  .homepage-featured-events {
    min-height: 1480px;
  }

  .homepage-featured-events .positioning-event-1 {
    width: 350px;
  }

  .homepage-featured-events .positioning-event-2 {
    width: 255px;
    top: 200px;
    left: 380px;
  }

  .homepage-featured-events .positioning-event-3 {
    width: 255px;
    top: 90px;
    left: 665px;
  }

  .homepage-featured-events .positioning-event-4 {
    width: 160px;
    top: 280px;
    left: 950px;
  }

  .homepage-featured-events .positioning-event-5 {
    width: 160px;
    top: 417px;
    left: 0;
  }

  .homepage-featured-events .positioning-event-6 {
    width: 160px;
    top: 410px;
    left: 665px;
  }

  .homepage-featured-events .positioning-event-7 {
    width: 255px;
    top: 546px;
    left: 190px;
  }

  .homepage-featured-events .positioning-event-8 {
    width: 350px;
    top: 476px;
    left: 475px;
  }

  .homepage-featured-events .positioning-event-9 {
    width: 255px;
    top: 470px;
    left: 855px;
  }

  .homepage-featured-events .positioning-event-10 {
    width: 320px;
    top: 846px;
    left: 605px;
  }

  .homepage-featured-events .positioning-event-11 {
    width: 400px;
    top: 920px;
    left: 175px;
  }
}